%artisans-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: min-content;
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

%artisans-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid scalecolor(blue, light25);
  background-color: scalecolor(white, light75);
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  @extend %box-shadow;
  @extend %animate-helper;
  &:hover {
    opacity: 65%;
  }
  &-logo {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
  }
  &-name {
    grid-column: 2 / 3;
    align-self: end;
    font-size: $fluid-1;
    font-weight: 700;
  }
  &-city {
    grid-column: 2 / 3;
    align-self: start;
    font-weight: 400;
    color: scalecolor(black, light25);
  }
}