%scroll-share {
  position: fixed;
  bottom: 32px;
  width: 60px;
  height: 60px;
  background: rgba(scalecolor(blue, dark35), .70);
  border-top: 1px solid scalecolor(blue, dark25);
  border-bottom: 1px solid scalecolor(blue, dark25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  cursor: pointer;
  z-index: 350;
  @extend %animate-helper;
}