.map-all {
  grid-template-rows: min-content 1fr;
  row-gap: 16px;
}

.map-choose {
  @extend %choose-section;
  &-button {
    @extend %choose;
    &:hover {
      background-color: rgba(scalecolor(blue, base), 0.15);
    }
    &-active {
      font-weight: 700;
      background-color: rgba(scalecolor(blue, base), 0.15);
    }
  }
}

.maps-artisans {
  &-panel {
    display: none;
    height: 90%;
    border: 1px solid scalecolor(blue, base);
    border-radius: 8px;
    padding: 2px;
    position: relative;
    &-active {
      display: grid;
      grid-template-columns: 0px auto;
      transition-timing-function: cubic-bezier(0.350, 0.010, 0.430, 0.930);
      transition: 500ms;
    }
    &-open {
      grid-template-columns: 35% auto;
      transition-timing-function: cubic-bezier(0.350, 0.010, 0.430, 0.930);
      transition: 500ms;
    }
  }
  &-list {
    grid-column: 1 / 2;
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid scalecolor(blue, base);
    background-color: scalecolor(white, light75);
    overflow-y: auto;
    &-item {
      display: grid;
      grid-template-columns: .40fr .60fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      padding: 12px 8px 12px 0px;
      border-bottom: 1px solid scalecolor(blue, base);
      cursor: pointer;
      &-logo {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        zoom: 0.35;
        @include breakpoint($medium) {
          zoom: 0.65;
        }
      }
      &-name {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        font-size: calc($fluid-0 * 0.85);
        font-weight: 700;
      }
      &-city {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        font-size: calc($fluid-0 * 0.75);
      }
    }
  }
  &-map {
    display: none;
    grid-column: 2 / 3;
    &-active {
      display: block;
      height: 100%;
    }
  }
}

.artisan-map-infoslider {
  display: grid;
  grid-template-columns: .25fr .75fr;
  column-gap: 8px;
  justify-items: center;
  font-size: $fluid-0;
  padding: 8px 8px;
  background-image: linear-gradient(rgba(scalecolor(white, base), 1.0), rgba(scalecolor(white, light25), 1.0));
  &-image {
    grid-column: 1 / 2;
    & img {
      width: 50px;
    }
  }
  &-details {
    grid-column: 2 / 3;
    row-gap: 12px;
    display: grid;
    align-items: center;
    color: scalecolor(black, base);
  }
  &-name {
    font-weight: 700;
  }
  &-address {
    font-size: calc($fluid-0 * 0.75);
  }
  &-link {
    outline: none;
    color: scalecolor(blue, base);
  }
  &-button {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid scalecolor(blue, base);
    font-size: calc(1rem + .25*(100vw - 20rem)/98.75);
    color: scalecolor(blue, base);
    background-color: rgba(scalecolor(blue, base), 0.15);
    font-weight: 700;
    cursor: pointer;
  }
}