.map-detail { 
  margin-top: 5rem;
  // this has to be here so google maps has a height to inherit, won't inherit min-height
  height: calc(100vh - 7rem);
}

#map {
  @extend %maps;
}

.artisan-map-infoslider {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 0.5rem;
  justify-items: center;
  font-size: $fluid-0;
  padding: 0.5rem 0.5rem;
  background-image: linear-gradient(rgba(scalecolor(white, base), 1.0), rgba(scalecolor(white, light25), 1.0));
  &-image {
    grid-column: 1 / 2;
    & img {
      width: 50px;
    }
  }
  &-details {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    color: scalecolor(black, base);
  }
  &-name {
    font-weight: 700;
  }
  &-address {
    font-size: calc($fluid-0 * 0.75);
  }
  &-link {
    padding-top: .75rem;
    outline: none;
    color: scalecolor(blue, base);
  }
}