%panel {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: max-content;
  gap: 1.5rem;
  margin-bottom: 6rem;
  &-active {
    display: grid;
    // animation-name: fadeInEffect;
    // animation-duration: 1s;
    // animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    // @keyframes fadeInEffect {
    //   from {opacity: 0;}
    //   to {opacity: 1;}
    // }
  }
}